<div class="row">
    <div class="col s6 offset-s3">

    {{#if error}} 
        <p class="alert">{{error}}</p>
    {{/if}}
        
    <h2>Set a new password</h2>

    <form action="/auth/password" method="POST">
        <div class="input-field">
            <input id="password" name="password" type="password" class="validate" required>
                <label for="password">New password</label>
                <span class="helper-text" data-error="Enter the new password"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">

            <button class="btn btn-primary" type="submit">Update password</button>
        </form>
    </div>
  </div>