<h1>Add new course</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST" novalidate>
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" value="{{data.title}}" required>
        <label for="title">Course title</label>
        <span class="helper-text" data-error="Enter title"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" value="{{data.price}}" required min="1">
        <label for="price">Course price</label>
        <span class="helper-text" data-error="Enter price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" value="{{data.img}}" required>
        <label for="img">URL picture</label>
        <span class="helper-text" data-error="Enter url of picture"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">
        Add new course
    </button>
</form>