<h1>Courses</h1>

{{#if courses.length}}
{{#each courses}}
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <div class="card-image">
                    <img src="{{img}}" alt="{{title}}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{title}}</span>
                    <p class="price">{{price}}</p>
                </div>
                <div class="card-action actions">
                    <a href="/courses/{{id}}" target="_blank">Open course</a>
                    
                    {{#if @root.isAuth}}
                        {{#ifeq userId._id @root.userId}}
                            <a href="/courses/{{id}}/edit?allow=true">Edit course</a>
                        {{/ifeq}}
                        <form action="/card/add" method="POST">
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                            <button type="submit" class="btn btn-primary">Bye</button>
                        </form>
                    {{/if}}
                    
                </div>
            </div>
        </div>
    </div>
{{/each}}
{{else}}
    <p>No courses yet</p>
{{/if}}