<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
    <div class="input-field">
        <input id="title" name="title" type="text" value="{{course.title}}" class="validate" required>
        <label for="title">Course title</label>
        <span class="helper-text" data-error="Enter title"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" value="{{course.price}}" class="validate" required min="1">
        <label for="price">Course price</label>
        <span class="helper-text" data-error="Enter price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" value="{{course.img}}" class="validate" required>
        <label for="img">URL picture</label>
        <span class="helper-text" data-error="Enter url of picture"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn btn-primary">
        Edit course
    </button>
</form>

<form action="/courses/remove" method="POST">
     <input type="hidden" name="id" value="{{course.id}}">
     <input type="hidden" name="_csrf" value="{{csrf}}">
     
     <button type="submit" class="btn red">
        Delete course
    </button>
</form>