.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    max-width: 600px;
    height: auto;
}

.course .price.big {
    font-size: 2.5rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    max-width: 900px;
}

.course-form {
    margin-bottom: 2rem;
}

.auth {
    padding-top: 1rem;
}

.alert {
    padding: .5rem 1rem;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, .3);
    color: red;
}

.avatar {
    max-width: 250px;
    height: auto;
}